doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CONFIRM
div
  h1 ENTRY MADE SUCCESSFULLY &#128233 &#10003
  a(href='/register') MAKE ANOTHER ENTRY??
