<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" id="form">
        <label for="">name</label>
        <input type="text" id="name">
        <p class="error" id="errName"></p>
        <br>
        <label for="">occupation</label>
        <input type="text" id="occupation">
        <p class="error" id="errRole"></p>
        <br>
        <label for="">email</label>
        <input type="text" id="email">
        <p class="error" id="errEmail"></p>
        <br>
        <label for="">address</label>
        <input type="text" id="address">
        <p class="error" id="errAddress"></p>
        <br>
        <input type="submit" value="SUBMIT">
    </form>
    <script src="../public/js/form.js"></script>
</body>
</html>