<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/form.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <form action="/views/login.html" method="post" id="lForm" class="form">
            <nav class="title">
                <h2>LOG IN PAGE</h2>
            </nav>
            <label for="">Name</label>
            <input type="text" name="NAME" id="name">
            <br>
            <label for="">Password</label>
            <input type="password" name="Password" id="pass">
            <br>
            <input type="submit" value="SUBMIT" id="subBtn">
        </form>

        <h3>Don't have an account? Create one here</h3>
        <a href="/signup" class="link"><h3>SIGN-UP</h3></a>
    </div>
    <script src="/public/js/login.js"></script>
</body>
</html>