doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/form.css')
  title Document
.container
  form#lForm.form(action='/loginauth' method='post')
    nav.title
      h2 LOG IN PAGE
    label(for='') Email
    input#name(type='email' name='email')
    br
    label(for='') Password
    input#pass(type='password' name='password')
    br
    input#subBtn(type='submit' value='SUBMIT')
  h3 Don&apos;t have an account? Create one here
  a.link(href='/signupauth')
    h3 SIGN-UP
//- script(src='/js/login.js')
