doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/form.css')
  title Document
nav.title
  h2 LOG IN PAGE
.container
  form#lForm.form(action='/login' method='post')
    label(for='') Name
    input#name(type='text' name='NAME')
    br
    label(for='') Password
    input#pass(type='password' name='Password')
    br
    input#subBtn(type='submit' value='SUBMIT')
  h3 Don&apos;t have an account? Create one here
  a.link(href='/signup')
    h3 SIGN-UP
script(src='/public/js/login.js')
