<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>Page 2</title>
  </head>
  <body>
    <form action="" class="form" method="post">
      <div class="container">
        <h1 class="title">Answer some random questions</h1>
        <label for="">A rondom number</label>
        <input type="number" />
        <br />
        <p>prefer to do</p>
        <input type="checkbox" />
        <label for="">movies </label>
        <input type="checkbox" />
        <label for="">series </label>
        <input type="checkbox" />
        <label for="">music </label>
        <br />
        <p>Tea or coffee</p>
        <input type="radio" />
        <label for="">Tea</label>
        <input type="radio" />
        <label for="">Coffee</label>
        <br />
        <p>can speak more than one langage</p>
        <input type="radio" />
        <label for="">Yes</label>
        <input type="radio" />
        <label for="">No</label>
        <br/>
        <label for="">A baby squirell is called</label>
        <input type="text" />
        <br/>
        <br/>
        <input type="submit" value="SUBMIT" />
      </div>
    </form>
  </body>
</html>
