<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/form.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <table class="table">
            <h2 class="title">OUR NEW USERS</h2>
            <tr>
                <th>FULLNAME</th>
                <th>EMAIL</th>
                <th>USERNAME</th>
                <th>PHONE</th>
                <th>DOB</th>
            </tr>
            <tr>
                <td>Tom Cat</td>
                <td>tcat@walt.com</td>
                <td>Tom</td>
                <td>9090110</td>
                <td>21-03-1997</td>
            </tr>
        </table>
    </div>
</body>
</html>