doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/form.css')
  title Document
.container
  table.table
    h2.title OUR NEW USERS
    tr
      th FULLNAME
      th EMAIL
      th USERNAME
      th PHONE
      th DOB
    tr
      td Tom Cat
      td tcat@walt.com
      td Tom
      td 9090110
      td 21-03-1997
