<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>REGISTER</h2>
    </nav>
    <div>
        <form action="" method="post">
            <label for="NAME">Crop Name</label>
            <input type="text" >
            <br>
            <label for="TYPE">Crop type</label>
            <input type="text">
            <br>
            <label for="QUANTITY">Quantity</label>
            <input type="number">
            <br>
            <label for="PRICE">Price</label>
            <input type="number">
            <br>
            <label for="AGENT">Agent name</label>
            <input type="text">
            
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</body>
</html>