doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/form.css')
  title Document
.container
  form.form(action='' method='post')
    h2.title SIGN-UP PAGE
    label(for='') Full name
    input(type='text' name='fullname')
    label(for='') Email
    input(type='text' name='email')
    label(for='') Role
    select(name='role')
      option(value='') Select role
      option(value='manager') Manager
      option(value='salesAgent') Sales agent
    label(for='') Phone
    input(type='text' name='phone')
    label(for='') Date Of Birth
    input(type='text' name='DOB')
    label(for='')  Set Password
    input(type='password' name='password')
    label(for='')  Confirm Password
    input(type='password' name='confirm')
    input#subBtn(type='submit' value='SUBMIT')
  br
  br
  br
  br
  h3 Already have an account? Login here
  a.link(href='/login')
    h3 LOGIN
