<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/form.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <form action="" method="post" class="form">
            
            <h2 class="title">SIGN-UP PAGE</h2>
            <label for="">Full name</label>
            <input type="text" name="fullname">
            
            <label for="">Email</label>
            <input type="text" name="email">
            
            <label for="">Desired Username</label>
            <input type="text" name="username">
            
            <label for="">Phone</label>
            <input type="text" name="phone">
            
            <label for="">Date Of Birth</label>
            <input type="text" name="DOB">
            <label for="">Role</label>
            <select name="role">
                <option value="">Select role</option>
                <option value="manager">Manager</option>
                <option value="salesAgent">Sales agent</option>
            </select>
            
            <label for=""> Set Password</label>
            <input type="password" name="password">
            
            <label for=""> Confirm Password</label>
            <input type="password" name="Confirm">
            
            <input type="submit" value="SUBMIT" id="subBtn">
        </form>
        <br>
        <br>
        <br>
        <br>
        <h3>Already have an account? Login here</h3>
        <a href="/login" class="link"><h3>LOGIN</h3></a>
    </div>
</body>
</html>