body{
    background-color:rgb(204, 164, 115);
}
.container{
    width: 35%;
    height: 700px;
    border: solid;
    border-radius: 10px;
    background-color: rgb(152, 170, 164);
    margin: auto;
    top: 30px;
    
}
.title{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}
label {
    width: 230px;
    display: inline-block;
    text-align: right;
}
input{
    margin-bottom: 10px;
    height: 20px;
}
select{
    margin-bottom: 10px;
    height: 30px;
    width: 33%;
    
}
.form{
    font-size: 25px;
    height: 50%;
}
#subBtn{
    margin-left: 40%;
}
.link{
    font-size: 25px;
    color: red;
}

.table{
    border:solid black;
    text-align: center;
    /* margin-left: 0%; */
    background-color: white;
    font-size: 19px;
}
th,td{
    border: solid black;
}